<div class="span8">
  <h3>”<%= @keyword %>”の検索結果</h3>
  	<h4>User</h4>
        <%= render @users %>
        <br>
        <br>
        <br>
    <h4>Tweet</h4>
        <%= render @tweets %>
  </div>
</div>
