<%= form_for(current_user.favorites.find_by(tweet_id: tweet.id), html: { method: :delete }, remote: true) do |f| %>
  <button type="submit"><i class="fa fa-star favorite-star"></i></button> 
<% end %>